//Вариант подключения шрифтов
@font-face {
   font-family: 'open-sans';
   src: url('/fonts/opensans-regular-webfont.woff') format('woff2'),
   url('/fonts/opensans-regular-webfont.woff2') format('woff');
   font-weight: normal;
   font-style: normal;
 }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');