$black: #000;
$white: #fff;
$red:#fe0000;

$mainFont: 'Open Sans', sans-serif;

$mainColor: #72d0f4;
$secondColor: #00bff0;
$mainColorLite:#8ad3ee;
$mainDark:#00bff0;

$conteiner_background:#f3f3f3;

$darkGreyText:#505961;
$greyText:#a7acb0;

$gray:#d4d6d6;

$fontSize-s:11px;
$fontSize-sm:13px;
$mainFontSize:14px;
$fontSize-Xl:16px;
$fontSize-XXl:18px;
$fontSize_h2:24px;
$fontSizeHeading:30px;
$fontSize-big:38px;



$fontWeightLow:200;
$fontWeightBold:600;


$HeightHeading:48px;
$HeightP:24px;

$maxWidth:1200px;
$mdWidth:992px;
$minWidth:767px;
$microWidth:480px;

$oneElem:32%;
$twoElem:66%;