$mainFont: 'Open Sans', sans-serif;
$mainFontLight:'Open Sans - light', sans-serif;
$mainFontBold:'Open Sans - bold', sans-serif;
$mainFontItalic:'Open Sans - italic', sans-serif;
$mainFontCondensed:'Open Sans - condensed', sans-serif;

$container_background:#f3f3f3;

$black: #000;
$white: #fff;
$red:#fe0000;
$gray:#d4d6d6;

$mainColor: #72d0f4;
$mainColorLite:#a5e5fe;
$mainDark:#00bff0;

$darkGreyText:#505961;
$greyText:#a7acb0;

$greyBackground:#e6e6e6;

$fontSize-s:11px;
$fontSize-sm:13px;
$mainFontSize:14px;
$fontSize-Xl:16px;
$fontSize-XXl:18px;
$fontSize_h2:24px;
$fontSizeHeading:30px;
$fontSize-big:38px;

$fontWeightLow:300;
$fontWeightBold:600;

$lineHeightHeading:48px;
$lineHeightText:24px;

$maxWidth:1200px;
$mdWidth:992px;
$minWidth:767px;
$mobileScreenWidth:480px;

$oneElem:32%;
$twoElem:66%;
$halfFlex:48.5%;

$btn-shadow:0 0 8px 0 #000000;
$btn-transition:0.3s;

$sectionSpace:50px;
$sectionSpaceX2:100px;
$sectionSpaceAdaptive:0;