.slider-gallery__wrapper {
  flex-basis: $twoElem;
}

@media (max-width: $minWidth) {
  .slider-gallery__wrapper {
    flex-basis: 100%;
  }
}

.slider-gallery {
  max-width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider-gallery__item img {
  object-fit: cover;
  width: 100%;
  height: 170px;
}

.slider-gallery__item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: none;
  flex-basis: 33%;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.slider-gallery__item--active {
  display: block;
}


.slider-gallery__btn-prev,.slider-gallery__btn-next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  background-color: $white;
  transition: 0.6s ease;
  border-radius: 50%;
  opacity: 0.9;
  overflow: hidden;
  margin: 0 15px;
}

.slider-gallery__btn-next {
  right: 0;
}
.slider-gallery__right-arrows{
  width: 30px;
  height: 30px;
  fill: $mainColor;
  top: 10px;
  left: 12px;
}

.slider-gallery__btn-prev:hover,
.slider-gallery__btn-next:hover {
  background-color: $mainColor;
  .slider-gallery__right-arrows{
    fill: $white;
  }
}
.slider-gallery__btn-prev--left{
  transform: rotate(180deg);
}
.active {
  pointer-events: none;
  opacity: 0.5;
}
@media (max-width:$mdWidth){
  .slider-gallery__item img{
    height: 150px;
  }
}
@media (max-width:$microWidth){
  .slider-gallery__item img{
    height: 120px;
  }
}



