/* Собственно сам слайдер */
.blog-slider{
  max-width: 90%;
  position: relative;
  margin: auto;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.blog-slider-item img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/* Кнопки вперед и назад */
.blog-slider-prev, .blog-slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.blog-slider-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.blog-slider-prev:hover,
.blog-slider-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Кружочки */

.blog-slider-dots {
  text-align: center;
  position: relative;
  top: -25px;
}
.blog-slider-dots__item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.blog-slider-dots__item--active,
.blog-slider-dots__item:hover {
  background-color: $mainColor;
}

/* Анимация слайдов */

.blog-slider-item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@media (max-width:$minWidth){
  .blog-slider-item img {
    height: 200px;
  }
}