.blog-aside {
  flex-basis: $oneElem;
}
.slider-trainers--blog{
  margin-top: 30px;
}

.blog-categories {
  width: 100%;
  background-color: $mainColor;
  margin-bottom: 30px;
  padding: 10px 40px 10px 25px;
}
.blog-categories--dark{
  background-color: $mainDark;
}
.blog-categories--gray{
  background-color: $greyBackground;
  margin-top: 30px;
  .blog-categories__icon{
    fill: $mainColor;
  }
  .blog-categories__link,.blog-categories__heading{
    color: $mainColor;
  }
}

.blog-categories__heading {
  text-transform: uppercase;
  font-size: $fontSize-Xl;
  font-family:$mainFontLight;
  margin: 10px 0;
  letter-spacing: 1px;
}
.blog-categories__list{
  li{
    margin: 16px;
  }
}
.blog-categories__link{
  text-transform: uppercase;
  color: $white;
  vertical-align: middle;
}
.blog-categories__icon{
  width: 12px;
  height: 12px;
  fill: $white;
  margin-right: 10px;
}
.resents-post__link{
  color: $white;
  line-height: 18px;
}
.resents-post__date{
  display: block;
  color: $darkGreyText;
  line-height: 21px;
  font-size: 12px;
}
.resents-post__list{
  li{
    padding: 12px 0 12px 14px;
    border-bottom: 1px solid #e5e6e6;
    display: flex;
    align-items: baseline;
    &:last-child{
      border: none;
    }
  }
  .blog-categories__icon{
    width: 10px;
    height: 10px;
  }
}
@media (max-width:$mdWidth){
  .blog-categories{
    padding: 10px 20px;
  }
  .schedule{
    display: none;
  }
  .slider-trainers--blog{
    display: none;
  }
}
@media (max-width:$minWidth){
 .blog-aside{
   display: none;
 }
  .blog-posts{
    flex-basis: 100%;
  }
}

