.footer__wrapper{
  @include flex-container;
  padding: 60px 15px;
  align-items: flex-start;
  color: $white;
  font-size: $fontSize-sm;
}
.footer__body{
  background-color: $mainColor;
}
.footer__email{
  flex-basis: 30%;
}
.footer__about-us{
  flex-basis: 35%;
}
.footer__heading{
  text-transform: uppercase;
  font-size: $fontSize-XXl;
  margin-bottom: 25px;
}
.footer__email-text{
  text-transform: uppercase;
  font-size: $mainFontSize;
  line-height: 20px;
}
.footer__email-input{
  width: 100%;
  border:0.5px solid $secondColor;
  padding: 10px 15px;
  background-color: #b9e8fa;
  &::placeholder{
    color: $secondColor;
    font-size: $fontSize-Xl;
    font-weight: $fontWeightBold;
  }
}
.footer__email-btn-sbmt{
  white-space: nowrap;
  input{background-color: #e25050;
    border:none;
    color: $white;
    font-size: $fontSize-Xl;
    padding: 10px 30% 10px 15px;
    cursor: pointer;
  }
}
.footer__arrow{
  fill: $white;
  width: 8px;
  height: 8px;
}
.footer__arrow--inside{
  width: 12px;
  height: 12px;
  position: relative;
  right: 25px;
}

.footer_logo{
  img{
    margin: 0 auto;
  }
}
.footer__about-us{
  .footer__about-us-text{
    line-height: $HeightP;
  }
}
.footer__contact{
  font-size: $fontSize-XXl;
}
.footer__nav-wrapper{
  @include flex-container;
  align-items: flex-start;
  flex-basis: 25%;
}
.footer__link{
  color: $white;
}

.footer__list{
  li{
    margin: 8px 0;
  }
}

.footer__body-bottom {
  background-color: $secondColor;
}

.footer__bottom-wrapper {
  @include flex-container;
  padding: 15px 15px;
  span{
    color: $white;
    font-weight: $fontWeightBold;
  }
}
@media (max-width:$mdWidth){
  .footer__nav-wrapper{
    flex-basis: 30%;
  }
}
@media (max-width:$minWidth){
  .footer__nav-wrapper{
    flex-basis: 85%;
    justify-content: space-around;
  }
  .footer__about-us {
    flex-basis: 50%;
  }
  .footer__wrapper{
    padding: 30px 15px;
  }
  .footer__link{
    font-size: $fontSize-Xl;
  }
}
@media (max-width:$microWidth){
  .footer__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .footer__email{
   text-align:center;
  }
  .footer__about-us{
    text-align: center;
    padding: 15px 0;
  }
  .footer__nav{
    margin: 0 10px;
  }
  .footer__bottom-wrapper{
    flex-direction: column;
    span{
      margin-bottom: 10px;
    }
  }
}