.membership {
  flex-basis: $oneElem;
  text-align: center;
  color: $white;
}

.memberships__discount {
  background-color: $mainDark;
  padding: 37px 10px;
  h4 {
    font-size: $fontSize-XXl;
    text-transform: uppercase;
    font-weight: $fontWeightLow;
  }

  p {
    font-weight: $fontWeightLow;
    font-size: $fontSize-Xl;
    line-height: $lineHeightP;
  }
}
.memberships__btn {
  @include gymBtn();
}
@media (max-width:$maxWidth){
  .memberships__discount{
    padding: 10px;
  }
}
@media (max-width:$mdWidth){
  .memberships__discount h4{
    font-size: $fontSize-Xl;
    margin: 10px;
  }
  .memberships__discount p{
    font-size: $mainFontSize;
  }
}
@media (max-width:$minWidth){
  .membership{
    flex-basis: 100%;
  }
}
@media (max-width:$microWidth){
  .memberships__discount{
    padding: 15px 20px 20px 20px;
  }
  .memberships__btn{
    padding: 5px 25px;
  }
}