.trainers-events-blog-section{
  margin-bottom: $sectionSpace;
}
.trainers-events-blog__wrapper {
  @include flex-container;
  align-items: flex-start;
}

.trainers {
  flex-basis: $oneElem;
}

.slider-trainers {
  max-width: 100%;
  position: relative;
  margin: auto;
  @include flex-container;
  align-items: flex-start;
  background: $white;
}

.slider-trainers__item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: none;
  flex-basis: 49.5%;
  text-align: center;
  padding: 30px;
  background: white;
}

.slider-trainers__border {
  height: 170px;
  border-right: 1px solid $mainColor;
  display: none;
}

.slider-trainers__border--active {
  display: block;
}

.slider-trainers__item img {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.slider-trainers__name, .slider-trainers__direction {
  text-transform: uppercase;
  color: $mainDark;
}

.slider-trainers__name {
  font-weight: $fontWeightBold;
}

.slider-trainers__direction {
  font-style: italic;
  font-size: $mainFontSize;
}

.slider-trainers__description {
  font-size: $fontSize-s;
  color: $darkGreyText;
  line-height: 1.2;
}
/* Кнопки вперед и назад */
.slider-trainers__btn--prev, .slider-trainers__btn--next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  color: red;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider-trainers__btn--next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slider-trainers__right-arrows {
  width: 30px;
  height: 30px;
  fill: $mainColor;
}
.slider-trainers__right-arrows--left {
  transform: rotate(180deg);
}

/* При наведении на кнопки добавляем фон кнопок */

.slider-trainers__btn--prev:hover,
.slider-trainers__btn--next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Анимация слайдов */

.slider-trainers__btn--active {
  pointer-events: none;
  opacity: 0.4;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.slider-trainers__item--active {
  display: block;
}

.slider-trainers__social-networks {
  @include flex-container;
}

.slider-trainers__icons {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 0 2px;

  &:hover {
    transform: scale(1.2);
  }
}

.slider-trainers__social-networks--left {
  fill: $greyText;
}

.slider-trainers__social-networks--right {
  fill: $mainColor;
}

@media (max-width: $maxWidth) {
  .slider-trainers__item img {
    width: 80px;
    height: 80px;
  }
  .slider-trainers__name, .slider-trainers__direction {
    font-size: 12px;
    line-height: 1.3;
  }
  .slider-trainers__icons {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: $mdWidth) {
  .trainers {
    flex-basis: 100%;
  }
  .slider-trainers__item {
    padding: 15px 40px;
  }
  .slider-trainers__item img {
    width: 100px;
    height: 100px;
  }
  .slider-trainers__name, .slider-trainers__direction {
    font-size: 24px;
    line-height: 1.3;
  }
  .slider-trainers__description{
    font-size: $fontSize-Xl;
  }
  .slider-trainers__icons {
    width: 18px;
    height: 18px;
  }
}
@media (max-width:$minWidth){
  .slider-trainers__name, .slider-trainers__direction {
    font-size: 3.2vw;
  }
  .slider-trainers__description{
    font-size: 2.2vw;
  }
  .trainers-events-blog-section{
    margin-bottom: $sectionSpaceAdaptive;
  }
}
@media (max-width:$mobileScreenWidth){
  .slider-trainers__item img {
    width: 70px;
    height: 70px;
  }
  .slider-trainers__item {
    padding: 25px 20px;
  }
  .slider-trainers__icons {
    width: 13px;
    height: 13px;
  }
  .slider-trainers__name, .slider-trainers__direction {
    font-size: 3.5vw;
  }
  .slider-trainers__description{
    font-size: 2.8vw;
  }
  .slider-trainers__right-arrows {
    width: 25px;
    height: 25px;
  }

}
//style for page "classes_pilates.html" class='slider-trainers__item--pilates'
.slider-trainers__item--pilates{
  padding: 15px;
}
@media (max-width:$mdWidth) {
  .slider-trainers__item--pilates{
    img{
      width: 120px;
      height: 120px;
    }
  }
}
@media (max-width:$minWidth){
  .slider-trainers__item--pilates{
    img{
      width: 100px;
      height: 100px;
    }
    .slider-trainers__description{
      padding: 0 30%;
    }

  }
}
@media (max-width: 580px){
  .slider-trainers__item--pilates{
    .slider-trainers__name, .slider-trainers__direction{
      font-size: 16px;
    }
    .slider-trainers__description{
      font-size: 14px;
      padding: 0 15%;
    }
  }
}